<div class="col-md-12">
    <div class="card card-container ">
      <img id="logoimg" src="../../../assets/data/img/logo2.png" class="logoimg"/>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Login</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
            required minlength="5" maxlength="255" #username="ngModel"/>
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Login obligatoire</div>
            <div *ngIf="username.errors['minlength']">
              Le login doit avoir au minimum 5 caractères
            </div>
            <div *ngIf="username.errors['maxlength']">
              Taille Max : 255
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email"
            required email #email="ngModel"/>
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email obligatoire</div>
            <div *ngIf="email.errors['email']">
              L'adresse mail n'est pas valide
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" name="password" 
            [(ngModel)]="form.password" required minlength="5" #password="ngModel"/>
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Mot de passe obligatoire</div>
            <div *ngIf="password.errors['minlength']">
              Le mot de passe doit avoir au minimum 5 caractères 
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Échec de la création du compte utilisateur<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Création du compte : Validé!
      </div>
    </div>
  </div>