<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand title">{{title}}</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/ticket" class="nav-link" *ngIf="isAuthentified" routerLink="ticket">Ticket</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isAuthentified">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Créer mon compte</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Connexion</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isAuthentified">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"> {{ username }} <fa-icon [icon]="faUser"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/mickael-callimoutou/">LinkedIn<fa-icon [icon]="faUserAstronaut"></fa-icon></a>
      </li>
      
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon></a>
      </li>
    </ul>

  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>