<div>
    <h1>Créer un nouveau ticket</h1>
    <hr>
    <form novalidate (ngSubmit)="create(ticket)">
        <div class="form-group row">
            <label class="col-sm-1" for="Title">Titre</label>
            <div class="col-sm-11">
                <input id="title" type="text" [(ngModel)]="ticket.title" name="title" class="form-control" placeholder="Titre">
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col">
                <label class="col-form-label-sm"  for="description">Description</label>
                <textarea id="description" type="text" rows="3" class="form-control noresize form-control-sm"
                [(ngModel)]="ticket.content" name="content" placeholder="Description"></textarea>
            </div>
        </div>
        <br>
        <!-- <div class="form-group row">
            <div class="form-group col">
                <input type="file" (change)="uploadFile($event)">
            </div>
        </div> -->
        <br>
        <div class="form-row">
            <div class="form-group col">
                <div class="text-center">
                    <button class="btn btn-validate btn-primary">Créer</button>
                </div>
            </div>
        </div>
    </form>
</div>
  