<h2 class="text-center">Gestion des tickets</h2>

<div class="row text-center">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <a class="nav-link" routerLink="create" href="/create"><h5 class="card-title"><fa-icon [icon]="faPlus"></fa-icon></h5></a>
            </div>
            <div class="card-footer">
                <p class="card-text">Creer nouveau ticket</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <a class="nav-link" routerLink="search" href="/search"><h5 class="card-title"><fa-icon [icon]="faSearch"></fa-icon></h5></a>
            </div>
            <div class="card-footer">
                <p class="card-text">Rechercher tickets</p>
            </div>
        </div>
    </div>
</div>